:root {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

.invisible {
  display: none;
}

.game-over-container {
  position: absolute;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
}

.game-over {
  background-color: white;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.message {
  padding: 50px;
  font-size: 2em;
}

.again {
  padding: 10px 20px;
  border: 1px solid black;
}

.main-container {
  padding: 50px;
  display: flex;
  gap: 50px;
}

.grid {
  display: grid;
  width: 500px;
  height: 500px;
}

.grid-cell {
  border: 1px solid black;
}

.ship {
  background-color: grey;
}

.miss {
  background-color: yellow;
}

.hit {
  background-color: red;
}

.place-ships-container {
  max-width: 500px;
  max-height: 500px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.place-ship {
  display: flex;
}

.place-ship-cell {
  background-color: gray;
  border: 1px solid teal;
  width: calc(500px / 10);
  height: calc(500px / 10);
}

.vertical {
  flex-direction: column;
}
